 * {
     margin: 0;
     padding: 0;
     font-family: monospace;
 }

 .container {
     background-color: whitesmoke;
     height: 1500px;
     width: 1500px;
 }

 .navbar {
     display: flex;
     justify-content: space-between;
     height: 60px;
     width: 1370px;
     background-color: black;

 }

 .navbar img {
     height: 40px;
     width: 50px;
     border-radius: none;
     background-color: black;

     margin-left: 8px;
     margin-top: 10px;
 }

 .navbar ul {
     list-style: none;
     background-color: #22438c;
     background-color: black;
     border-radius: 10px;
 }

 ul li {
     display: inline-block;
     position: relative;
 }

 ul li a {
     display: block;
     color: #fff;
     text-decoration: none;
     text-align: center;
     font-size: 20px;



 }

 ul li ul.dropdown li {

     display: block;
 }

 ul li ul.dropdown {

     width: 100%;
     background: black;
     position: absolute;
     z-index: 999;
     display: none;
 }



 ul li:hover ul.dropdown {
     display: block;
 }

 .login {
     font-size: 25px;
     color: white;

 }

 .button1 button {
     height: 35px;
     width: 150px;
     border-radius: 10px;
     font-size: 20px;
     background-color: white;
 }

 .button2 button {
     height: 35px;
     width: 200px;
     border-radius: 20px;
     background-color: pink;
 }

 ul,
 .login,
 .button1,
 .button2 {
     margin-top: 20px;
 }




.box{
    height: 600px;
    width: 1700px;
    background-color: rgb(210, 210, 239);
}

 .heading{
    display: flex;
    margin-top: 100px;
 }

 .heading1 h1{
    margin-left: 30px;
    margin-top: 80px;
    font-size: 40px;
    color: violet;
 }
  .heading1 h3 {
      margin-left: 30px;
      margin-top: 20px;
      font-size: 20px;
      color: chocolate;
  }



 .heading-image img{
    height: 500px;
    width: 700px;
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 30px;
   }

   input{
    height: 50px;
    width: 400px;
    color: blue;
    margin-top: 30px;
   }






.main-heading{
    display: flex;
} 

 





   .heading-images1{
    display: flex;
   }

   .heading-images1 img{
    height: 120px;
    width: 120px;
    margin-left: 20px;
    border-radius: 5px;
   }
.heading-images1 h1{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 15px;
}
 .heading-images1 h2{
    font-size: 15px;
    margin-left: 10px;
 }



   .heading-images2 {
display: flex;
   }

   .heading-images2 img {
height: 120px;
width: 120px;
margin-left: 20px;
border-radius: 5px;
   }

   .heading-images2 h1 {
font-size: 20px;
margin-left: 10px;
margin-top: 15px;
   }

   .heading-images2 h2 {
font-size: 15px;
margin-left: 10px;
   }




  .heading-images3 {
    display: flex;
}
    
.heading-images3 img {
    height: 120px;
    width: 120px;
    margin-left: 20px;
    border-radius: 5px;
}
    
.heading-images3 h1 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 15px;
}
    
.heading-images3 h2 {
    font-size: 15px;
      margin-left: 10px;
 }




 .heading-images4 {
     display: flex;
 }

 .heading-images4 img {
     height: 120px;
     width: 120px;
     margin-left: 20px;
     border-radius: 5px;
 }

 .heading-images4 h1 {
     font-size: 20px;
     margin-left: 10px;
     margin-top: 15px;
 }

 .heading-images4 h2 {
     font-size: 15px;
     margin-left: 10px;
 }



 .heading-images5 {
     display: flex;
 }

 .heading-images5 img {
     height: 120px;
     width: 120px;
     margin-left: 20px;
     border-radius: 5px;
 }

 .heading-images5 h1 {
     font-size: 20px;
     margin-left: 10px;
     margin-top: 15px;
 }

 .heading-images5 h2 {
     font-size: 15px;
     margin-left: 10px;
 }



 .heading-images6 {
     display: flex;
 }

 .heading-images6 img {
     height: 120px;
     width: 120px;
     margin-left: 20px;
     border-radius: 5px;
 }

 .heading-images6 h1 {
     font-size: 20px;
     margin-left: 10px;
     margin-top: 15px;
 }

 .heading-images6 h2 {
     font-size: 15px;
     margin-left: 10px;
 }




  .heading-images7 {
      display: flex;
  }

  .heading-images7 img {
      height: 120px;
      width: 120px;
      margin-left: 20px;
      border-radius: 5px;
  }

  .heading-images7 h1 {
      font-size: 20px;
      margin-left: 10px;
      margin-top: 15px;
  }

  .heading-images7 h2 {
      font-size: 15px;
      margin-left: 10px;
  }



   .heading-images8 {
display: flex;
   }

   .heading-images8 img {
height: 120px;
width: 120px;
margin-left: 20px;
border-radius: 5px;
   }

   .heading-images8 h1 {
font-size: 20px;
margin-left: 10px;
margin-top: 15px;
   }

   .heading-images8 h2 {
font-size: 15px;
margin-left: 10px;
   }


 .heading-images9 {
     display: flex;
 }
    
 .heading-images9 img {
     height: 120px;
     width: 120px;
     margin-left: 20px;
     border-radius: 5px;
 }
    
 .heading-images9 h1 {
     font-size: 20px;
     margin-left: 10px;
     margin-top: 15px;
 }
    
 .heading-images9 h2 {
     font-size: 15px;
     margin-left: 10px;
 }



 .heading-images10 {
     display: flex;
 }

 .heading-images10 img {
     height: 120px;
     width: 120px;
     margin-left: 20px;
     border-radius: 5px;
 }

 .heading-images10 h1 {
     font-size: 20px;
     margin-left: 10px;
     margin-top: 15px;
 }

 .heading-images10 h2 {
     font-size: 15px;
     margin-left: 10px;
 }


 .heading-images11 {
     display: flex;
 }

 .heading-images11 img {
     height: 120px;
     width: 120px;
     margin-left: 20px;
     border-radius: 5px;
 }

 .heading-images11 h1 {
     font-size: 20px;
     margin-left: 10px;
     margin-top: 15px;
 }

 .heading-images11 h2 {
     font-size: 15px;
     margin-left: 10px;
 }




 .heading-images12 {
     display: flex;
 }

 .heading-images12 img {
     height: 120px;
     width: 120px;
     margin-left: 20px;
     border-radius: 5px;
 }

 .heading-images12 h1 {
     font-size: 20px;
     margin-left: 10px;
     margin-top: 15px;
 }

 .heading-images12 h2 {
     font-size: 15px;
     margin-left: 10px;
 }




 .heading-images13 {
     display: flex;
 }

 .heading-images13 img {
     height: 120px;
     width: 120px;
     margin-left: 20px;
     border-radius: 5px;
 }

 .heading-images13 h1 {
     font-size: 20px;
     margin-left: 10px;
     margin-top: 15px;
 }

 .heading-images13 h2 {
     font-size: 15px;
     margin-left: 10px;
 }



 .heading-images14 {
     display: flex;
 }

 .heading-images14 img {
     height: 120px;
     width: 120px;
     margin-left: 20px;
     border-radius: 5px;
 }

 .heading-images14 h1 {
     font-size: 20px;
     margin-left: 10px;
     margin-top: 15px;
 }

 .heading-images14 h2 {
     font-size: 15px;
     margin-left: 10px;
 }





 .heading-images15 {
     display: flex;
 }

 .heading-images15 img {
     height: 120px;
     width: 120px;
     margin-left: 20px;
     border-radius: 5px;
 }

 .heading-images15 h1 {
     font-size: 20px;
     margin-left: 10px;
     margin-top: 15px;
 }

 .heading-images15 h2 {
     font-size: 15px;
     margin-left: 10px;
 }




  .heading-images16 {
     display: flex;
 }

 .heading-images16 img {
     height: 120px;
     width: 120px;
     margin-left: 20px;
     border-radius: 5px;
 }

 .heading-images16 h1 {
     font-size: 20px;
     margin-left: 10px;
     margin-top: 15px;
 }

 .heading-images16 h2 {
     font-size: 15px;
     margin-left: 10px;
 }




  .heading-images17 {
      display: flex;
  }

  .heading-images17 img {
      height: 120px;
      width: 120px;
      margin-left: 20px;
      border-radius: 5px;
  }

  .heading-images17 h1 {
      font-size: 20px;
      margin-left: 10px;
      margin-top: 15px;
  }

  .heading-images17 h2 {
      font-size: 15px;
      margin-left: 10px;
  }


   .heading-images18 {
       display: flex;
   }

   .heading-images18 img {
       height: 120px;
       width: 120px;
       margin-left: 20px;
       border-radius: 5px;
   }

   .heading-images18 h1 {
       font-size: 20px;
       margin-left: 10px;
       margin-top: 15px;
   }

   .heading-images18 h2 {
       font-size: 15px;
       margin-left: 10px;
   }

        .heading-images19 {
            display: flex;
        }
    
        .heading-images19 img {
            height: 120px;
            width: 120px;
            margin-left: 20px;
            border-radius: 5px;
        }
    
        .heading-images19 h1 {
            font-size: 20px;
            margin-left: 10px;
            margin-top: 15px;
        }
    
        .heading-images19 h2 {
            font-size: 15px;
            margin-left: 10px;
        }



                 .heading-images20 {
                     display: flex;
                 }
        
                 .heading-images20 img {
                     height: 120px;
                     width: 120px;
                     margin-left: 20px;
                     border-radius: 5px;
                 }
        
                 .heading-images20 h1 {
                     font-size: 20px;
                     margin-left: 10px;
                     margin-top: 15px;
                 }
        
                 .heading-images20 h2 {
                     font-size: 15px;
                     margin-left: 10px;
                 }

 

 /*.heading-images21 {
     display: flex;
 }

 .heading-images21 img {
     height: 120px;
     width: 120px;
     margin-left: 20px;
     border-radius: 5px;
 }

 .heading-images21 h1 {
     font-size: 20px;
     margin-left: 10px;
     margin-top: 15px;
 }

 .heading-images21 h2 {
     font-size: 15px;
     margin-left: 10px;
 }
 .heading-images22 {
     display: flex;
 }

 .heading-images22 img {
     height: 120px;
     width: 120px;
     margin-left: 20px;
     border-radius: 5px;
 }

 .heading-images22 h1 {
     font-size: 20px;
     margin-left: 10px;
     margin-top: 15px;
 }

 .heading-images22 h2 {
     font-size: 15px;
     margin-left: 10px;
 }



  .heading-images23 {
      display: flex;
  }

  .heading-images23 img {
      height: 120px;
      width: 120px;
      margin-left: 20px;
      border-radius: 5px;
  }

  .heading-images23 h1 {
      font-size: 20px;
      margin-left: 10px;
      margin-top: 15px;
  }

  .heading-images23 h2 {
      font-size: 15px;
      margin-left: 10px;
  }


   .heading-images24 {
       display: flex;
   }

   .heading-images24 img {
       height: 120px;
       width: 120px;
       margin-left: 20px;
       border-radius: 5px;
   }

   .heading-images24 h1 {
       font-size: 20px;
       margin-left: 10px;
       margin-top: 15px;
   }

   .heading-images24 h2 {
       font-size: 15px;
       margin-left: 10px;
   }



        .heading-images25 {
            display: flex;
        }
    
        .heading-images25 img {
            height: 120px;
            width: 120px;
            margin-left: 20px;
            border-radius: 5px;
        }
    
        .heading-images25 h1 {
            font-size: 20px;
            margin-left: 10px;
            margin-top: 15px;
        }
    
        .heading-images25 h2 {
            font-size: 15px;
            margin-left: 10px;
        }

 .heading-images26 {
     display: flex;
 }

 .heading-images26 img {
     height: 120px;
     width: 120px;
     margin-left: 20px;
     border-radius: 5px;
 }

 .heading-images26 h1 {
     font-size: 20px;
     margin-left: 10px;
     margin-top: 15px;
 }

 .heading-images26 h2 {
     font-size: 15px;
     margin-left: 10px;
 }


  .heading-images27 {
      display: flex;
  }

  .heading-images27 img {
      height: 120px;
      width: 120px;
      margin-left: 20px;
      border-radius: 5px;
  }

  .heading-images27 h1 {
      font-size: 20px;
      margin-left: 10px;
      margin-top: 15px;
  }

  .heading-images27 h2 {
      font-size: 15px;
      margin-left: 10px;
  }


   .heading-images28 {
       display: flex;
   }

   .heading-images28 img {
       height: 120px;
       width: 120px;
       margin-left: 20px;
       border-radius: 5px;
   }

   .heading-images28 h1 {
       font-size: 20px;
       margin-left: 10px;
       margin-top: 15px;
   }

   .heading-images28 h2 {
       font-size: 15px;
       margin-left: 10px;
   }

        .heading-images29 {
            display: flex;
        }
    
        .heading-images29 img {
            height: 120px;
            width: 120px;
            margin-left: 20px;
            border-radius: 5px;
        }
    
        .heading-images29 h1 {
            font-size: 20px;
            margin-left: 10px;
            margin-top: 15px;
        }
    
        .heading-images29 h2 {
            font-size: 15px;
            margin-left: 10px;
        }



                 .heading-images30 {
                     display: flex;
                 }
        
                 .heading-images30 img {
                     height: 120px;
                     width: 120px;
                     margin-left: 20px;
                     border-radius: 5px;
                 }
        
                 .heading-images30 h1 {
                     font-size: 20px;
                     margin-left: 10px;
                     margin-top: 15px;
                 }
        
                 .heading-images30 h2 {
                     font-size: 15px;
                     margin-left: 10px;
                 }


    */

























        .box4 {
            height: 700px;
            width: 1100px;
            background-color: whitesmoke;
            border-radius: 20px;
            margin-top: 250px;
            margin-left: 10px;
    
        }
    
        .heading4 img {
            height: 300px;
            width: 1100px;
            margin-top: 70px;
        }
    
        .heading4 h1 {
            text-align: center;
            margin-top: 30px;
            color: maroon;
        }
    
        .heading4 h2 {
            text-align: center;
            margin-top: 40px;
            color: mediumslateblue;
        }
    
        .heading4 h3 {
            text-align: center;
            color: mediumslateblue;
            margin-top: 20px;
        }
    
        .heading4 button {
    
            margin-left: 450px;
            margin-top: 40px;
            height: 40px;
            width: 150px;
            border-radius: 5px;
            color: cadetblue;
            background-color: darkgray;
        }
    
        .heading4 button:hover {
            background-color: gray;
        }
    
        .box5 {
            height: 700px;
            width: 1200px;
            background-color: whitesmoke;
            border-radius: 20px;
            margin-top: 150px;
            /* margin-left: 10px; */
    
        }
    
        .box5 .box-heading {
            display: flex;
        }