*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
}
.container{
    background-color: black;
    height:140vh;
    max-height: 150vh;
}

.pro-select{
    width:10%;
    height:44px;
    border:0.2px solid white transparent;
    background-color: black;
    color:rgb(162, 159, 159);
    margin-left:80px;
    margin-top:120px;
    font-size:16px;
    text-align: center;
}
option{
    background-color: white;
    color:black;
    font-size: 16px;
    font-weight: 600;
   margin-bottom:40px;
   width:60%;
   height:100px;
}

.btn1{
    background-color: rgb(35, 35, 235);
    border:0;
    outline:0;
    height:55px;
    color:white;
    font-size: 16px;
    margin-left:80px;
    margin-top:120px;
    padding:20px;
    margin-top: 28px;
    margin-bottom:60px;
    font-family:"Montserrat", sans-serif;
}
.pro-hd1{
    color:gray;
    margin-top:60px;
    margin-left:80px;
    margin-top:120px;
    font-size:60px;
    font-family:"Montserrat", sans-serif;
}
.pro-hd2{
    color:white;
    font-size:60px;
    font-family:"Montserrat", sans-serif;
    margin-left:80px;
    margin-top:40px;
}
.pro-p1{
    color:white;
    font-size:20px;
    font-family:"Montserrat", sans-serif;
    margin-top:28px;
    margin-left:80px;
    
}
.pro-hd3{
    color:grey;
    font-weight: 500;
    margin-left:80px;
    
}
.pro1{
    display:flex;
    justify-content: space-between;
}
.pro-img1{
    height:190px;
    width:16%;
    position: relative;
    bottom:540px;
    left:720px;
}
.pro-img2{
    height:400px;
    width:17%;
    position: relative;
    bottom:300px;
    left:460px;
}
.pro-img3{
    height:240px;
    width:15%;
    position: relative;
    bottom:560px;
    left:480px;
}
.pro-img4{
    height:400px;
    width:16%;
    position: relative;
    bottom:300px;
  left:230px;
}
.pro-img5{
    height:400px;
    width:15%;
    position: relative;
    bottom:640px;
    left: 250px;
}
.pro-img6{
    height:320px;
    width:15%;
    position: relative;
    bottom:200px;
}
.e-hd{
    font-size: 100px;
   margin-top:100px;
   margin-left:180px;
}
.e-p{
    font-size: 50px;
   margin-top:40px;
   margin-left:180px;

}
.cm-container4{
  width: 100%;
  display: flex;
padding:100px;
}
.cm-hd5{
    width:200%;
    font-size:50px;
    margin-top: 300px;
}
.e-img{
    border-radius: 50%;
    height:80px;
    width:80px;
    margin-left: 400px;

}
.e-hd1{
    font-size: 23px;
    margin-left: 400px;
    width:60%;
}
.e-container1{
    background-color: black;
    width:90%;
    max-height: 100vh;
    overflow-y: scroll;
    height:90vh;
}
.e-img1{
  height:400px;
  width:500px;
  margin-bottom: 10px;
}
.e-img2{
    height:300px;
    width:400px;
    margin-bottom: 200px;
  }
  .e-img3{
    height:400px;
    width:400px;
    margin-bottom: 200px;
  }
  .e-img4{
    height:300px;
    width:600px;
    border-radius: 10px;
   margin-top: -300px;
    margin-left: 520px;
  }
  .e-container2{
    display:flex;
    justify-content: space-around;
    gap:140px;
  margin-top: 180px;
  margin-left: 160px;
   
  }
  .con2-h1{
    font-size: 50px;
    width: 120%;
  }
  .con2-h2{
    font-size: 30px;
   width:60%;
   color: gray;
   margin-left: 100px;
  }
 
  .e-img5{
    height:700px;
    max-height: 900px;
    width:80%;
    object-fit: cover;
    align-items: center;
    margin-left: 200px;
    margin-top: 100px;
  }
  video{
    height:800px;
    width:80%;
    margin-left: 200px;
  }
.e-img6{
    object-fit: cover;
    height:100vh;
    width:70%;
    padding:60px;
}
.e-container4{
    background-color: black;
    color:white;
   
    width:90%;
}
.e-img7{
    height:50vh;
    width:20%;
}
.e-para{
    font-size:40px;
    margin-top: 100px;
    width:50%;
    margin-left: 160px;
}












.pro-container1{
    margin-top: 0px;
    margin-bottom: 100px;
 gap:0px;
display: flex;
justify-content: space-around;
}
.pro-hd6{
    font-size:34px;
    margin-top:180px;
    margin-left: 80px;
    width:400px;
}
.pro-p2{
    font-size: 18px;
    margin-left: 80px;
    margin-top:10px;
    margin-bottom: 400px;
}

.cm-img1{
    height:540px;
    width: 100%;
    margin-top: 200px;
    position:sticky;
    top:0px;
    bottom: 0px;
}
.para{
    font-size:18px;
    margin-left: 80px;
    margin-top:-340px;
    font-weight: 600;
}


.pro-container5{
    display:flex;
padding:100px;
    gap:100px;
}
.con5-hd1{
   margin-bottom: 20px;
   margin-left: 00px;
}
h4{
    margin-bottom: 20px;
}
p{
    margin-bottom: 20px;
    color:gray;
}
.lo1{
    height:30px;
}


.pro-container6{
    display:flex;
    justify-content: space-between;
  gap:80px;
padding:100px;

margin-top: -60px;
}
.con6-hd1{
   font-size: 20px;
 }
 .cm-cards1{
    display: flex;
    margin-top: 100px;
    width:200%;
}
.cm-card1{
    height:260px;
    width:20%;
    padding:20px;
    border-radius: 15px;
    border:1px solid gray;
   margin-left: 90px;
}
.l1,.l2{
    height:40px;
    margin-bottom: 70px;
}
.cm-card1:hover{
    box-shadow: 0 5px 10px gray;
}
.cm-cards1:hover{
    color:blue;
}
.cm-cards2{
    display: flex;
    margin-top: 100px;
    width:200%;
}
.cm-card2{
    height:260px;
    width:20%;
    padding:20px;
    border-radius: 15px;
   margin-left: 90px;
}
.cm-hd2{
    font-size: 30px;
    margin-top: 30px;
}
li{
    font-size: 18px;
    margin-top: 20px;
}
.pro-container3{
    background-color: rgb(224, 222, 222);
  width:100%;
  height:200vh;
  margin-top: 100px;
  
}
.con3-hd1{
    font-size: 60px;
    margin-left: 180px;
    padding: 40px;

}
.con3-p1{
    font-size: 44px;
    margin-left: 180px;
    
    font-weight: 600;
    padding: 10px;
}
button{
    background-color: blue;
    color: white;
    padding: 5px;
    border: 0;
}

.card1{
    background-color: aliceblue;
    width:75%;
    height:200px;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 30px;
    box-shadow: 0 0 10px gray;
    padding: 40px;
}
.pro-cards{
    display: flex;
    margin-left: 50px;
    width:90%;
}
.con3-hd3{
   margin-top: 50px;
}
.card2{
    background-color: aliceblue;
    width:50%;
    height:200px;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    padding: 40px;
}
.card3{
    background-color: aliceblue;
    width:60%; box-shadow: 0 0 10px gray;
    height:200px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    margin-left: 30px;
    margin-top: 30px;
    padding: 40px;
}
.pro-cards1{
    display: flex;
    margin-left: 70px;
    width:90%;
   
}
.card4{
    background-color: aliceblue;
    width:20%;
    height:200px;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    margin-left: 80px;
    margin-top: 30px;
    padding: 40px;
}
.card5{
    background-color: aliceblue;
    width:47%;
    height:200px;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 0 0 10px gray;
    margin-top: 30px;
    padding: 40px;
}
.card6{
    background-color: aliceblue;
    width:20%;
    height:200px;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 0 0 10px gray;
    margin-top: 30px;
    padding: 40px;
}

.pro-cards2{
    display: flex;
    margin-left: 70px;
    width:90%;
   
}
.card7{
    background-color: aliceblue;
    width:20%;
    height:200px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    margin-left: 80px;
    margin-top: 30px;
    padding: 40px;
}
.card8{
    background-color: aliceblue;
    width:20%;
    height:200px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0 0 10px gray;
    padding: 40px;
}
.card9{
    background-color: aliceblue;
    width:20%;
    height:200px;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    padding: 40px;
}
.card10{
    background-color: aliceblue;
    width:25%;
    height:200px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    margin-left: 30px;
    margin-top: 30px;
    padding: 40px;
}
.pro-cards3{
    display: flex;
    margin-left: 120px;
    width:90%;
   
}
.card11{
    background-color: aliceblue;
    width:25%;
    height:200px;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 0 0 10px gray;
    margin-top: 30px;
    padding: 40px;
}
.card12{
    background-color: aliceblue;
    width:25%;
    height:200px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0 0 10px gray;
    padding: 40px;
}
.card13{
    background-color: aliceblue;
    width:38%;
    height:200px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    margin-left: 30px;
    margin-top: 30px;
    padding: 40px;
}
.pro-container4{
  width: 100%;
  height:100vh;
  color:white;
  display: flex;
  justify-content: space-around;
  background-color:black
}
.con4-hd1{
    color:white;
    font-size: 80px;
    padding-top:100px;
    
}
.con4-p1{
    color:white;
    font-size: 26px;
    padding-top:50px;

}
.btn3{
    padding: 10px;
  margin-top: 50px;
  border-radius: 5px;
  height: 50px;
  width: 200px;
}
.con4-hd2{
    margin-top: 100px;
    margin-left: 10px;
}
.im12{
    margin-top:60px;
    margin-left: 80px;
}
.im2{
    margin-left: 100px;
   
}
.im3{
    margin-left: 180px;
    margin-top: 60px;
    color: gray;
}
.im11{
    margin-left: 70px;

}
.pro-container5{
    display:flex;
    color:white;
    width:100%;
padding:100px;
     background-color:black;
    gap:80px;
}
.con5-hd1{
   margin-bottom: 20px;
}
h4{
    margin-bottom: 20px;
}
p{
    margin-bottom: 20px;
    color:gray;
}
.hr1{
   color:grey;

}
.bt1{
    background-color: black;
    border: 1px solid white transparent;
}
.bottom{
   display: flex;
 height:100px;
padding-bottom: 100px;
   justify-content: space-between;
   background-color: black;
}
.on2{
    color:gray;
    font-size: 30px;
    margin-top: 50px;
    
}
.on3{
    margin-top: 50px;
    font-size: 20px;
    margin-left: 100px;
}
.on{
    margin-right: 100px;
}
